@keyframes spinbiggen
{
	0% {transform: scale(1);}
	20% {transform: scale(8);}
	40% {transform: scale(1);}
	60% {transform: scale(10);}
	80% {transform: scale(1);}
	100% {transform: scale(72);}
}
@keyframes dropDown
{
	from {top: 1%;}
	to {top: 30%;}
}
@keyframes stretched
{
	from {width: 1%; height: 40vh; left: 50%; top: 30%;}
	to {width: 100%; height: 100vh; left: 0%; top: 0%;}
}
@keyframes pop
{
	0% {transform: scale(0.1);}
	40% {transform: scale(1.25);}
	100% {transform: scale(1);}
}
@keyframes fade
{
	from {opacity: 1;}
	to {opacity: 0;}
}
@keyframes appear
{
	0% {width: 2%; height: 2vh;}
	50% {width: 40%; height: 2vh;}
	100% {width: 40%; height: 60vh;}
}
@keyframes disappear
{
	0% {width: 40%; height: 40vh;}
	50% {width: 40%; height: 2vh;}
	100% {width: 2%; height: 2vh;}
}
@keyframes blueFlash
{
	from {background-color: #4ac3f7;}
	to {background-color: #0362fc;}
}
@keyframes goldFlash
{
	from {background-color: #ffb60a;}
	to {background-color: #ffce59;}
}
@keyframes flyssolve0
{
	0% {opacity: 1; top: 80vh; left: 47%;}
	50% {opacity: 1; top: 45vh; left: 47%;}
	100% {opacity: 0; top:45vh; left: 47%;}
}
@keyframes flyssolve1
{
	0% {opacity: 1; top: 80vh; left: 53%;}
	50% {opacity: 1; top: 45vh; left: 53%;}
	100% {opacity: 0; top:45vh; left: 53%;}
}
@keyframes flyssolve2
{
	0% {opacity: 1; top: 80vh; left: 59%;}
	50% {opacity: 1; top: 45vh; left: 59%;}
	100% {opacity: 0; top:45vh; left: 59%;}
}
@keyframes flyssolve3
{
	0% {opacity: 1; top: 80vh; left: 41%;}
	50% {opacity: 1; top: 45vh; left: 41%;}
	100% {opacity: 0; top:45vh; left: 41%;}
}
/*I'm getting OCI Vibes*/
@keyframes flyssolve4 
{
	/*Center Left*/
	0% {opacity: 1; top: 34vh; left: 8%;}
	50% {opacity: 1; top: 45vh; left: 48%;}
	100% {opacity: 0; top:45vh; left: 48%;}
}
@keyframes flyssolve5
{
	/*Center Right*/
	0% {opacity: 1; top: 34vh; left: 90%;}
	50% {opacity: 1; top: 45vh; left: 48%;}
	100% {opacity: 0; top:45vh; left: 48%;}
}
@keyframes flyssolve6
{
	/*Authoritarian Center*/
	0% {opacity: 1; top: 5vh; left: 48%;}
	50% {opacity: 1; top: 45vh; left: 48%;}
	100% {opacity: 0; top:45vh; left: 48%;}
}
@keyframes flyssolve7
{
	/*Authoritarian Left*/
	0% {opacity: 1; top: 20vh; left: 8%;}
	50% {opacity: 1; top: 45vh; left: 48%;}
	100% {opacity: 0; top:45vh; left: 48%;}
}
@keyframes flyssolve8
{
	/*Libertarian Left*/
	0% {opacity: 1; top: 44vh; left: 8%;}
	50% {opacity: 1; top: 45vh; left: 48%;}
	100% {opacity: 0; top:45vh; left: 48%;}
}
@keyframes flyssolve9
{
	/*Authoritarian Right*/
	0% {opacity: 1; top: 20vh; left: 92%;}
	50% {opacity: 1; top: 45vh; left: 48%;}
	100% {opacity: 0; top:45vh; left: 48%;}
}
@keyframes flyssolve10
{
	/*Libertarian Right*/
	0% {opacity: 1; top: 44vh; left: 92%;}
	50% {opacity: 1; top: 45vh; left: 48%;}
	100% {opacity: 0; top:45vh; left: 48%;}
}
@keyframes flyssolve11
{
	/*Max top center left*/
	0% {opacity: 1; top: 5vh; left: 24%;}
	50% {opacity: 1; top: 45vh; left: 48%;}
	100% {opacity: 0; top:45vh; left: 48%;}
}
@keyframes flyssolve12
{
	/*Max top center right*/
	0% {opacity: 1; top: 5vh; left: 76%;}
	50% {opacity: 1; top: 45vh; left: 48%;}
	100% {opacity: 0; top:45vh; left: 48%;}