@keyframes spinbiggen
{
	0% {transform: scale(1);}
	20% {transform: scale(8);}
	40% {transform: scale(1);}
	60% {transform: scale(10);}
	80% {transform: scale(1);}
	100% {transform: scale(72);}
}
@keyframes dropDown
{
	from {top: 1%;}
	to {top: 30%;}
}
@keyframes stretched
{
	from {width: 1%; height: 40vh; left: 50%; top: 30%;}
	to {width: 100%; height: 100vh; left: 0%; top: 0%;}
}
@keyframes pop
{
	0% {transform: scale(0.1);}
	40% {transform: scale(1.25);}
	100% {transform: scale(1);}
}
@keyframes fade
{
	from {opacity: 1;}
	to {opacity: 0;}
}